:root {
  --primary: rgba(105,41,196, 1);
  --primary-focus: rgba(105,41,196, .83);
  --primary-hover: rgb(111,50,198, .96);
  --primary-active: rgba(123,67,203, .9);
  --primary-r: 105;
  --primary-g: 41;
  --primary-b: 196;
  --outline: rgb(0, 0, 0, .38);
  --secondary: rgba(255, 255, 255, 1);
  --secondary-hover: rgba(98, 0, 238, 0.04);
  --secondary-focus: rgba(105, 41, 196, 0.17);
  --secondary-active: rgba(105, 41, 196, 0.17);
}

/* buttons */
.lrn .lrn-author-ui .lrn-btn-primary {
  background-color: var(--primary) !important;
  border-radius: 4px;
  color: #fff !important;
  font-family: 'Work Sans';
}

.lrn .lrn-author-ui .lrn-btn-primary:hover,
.lrn .lrn-author-ui .lrn-btn-primary:focus {
  background-color: var(--primary-hover) !important;
}

.lrn .lrn-author-ui .lrn-btn-primary:active {
  background-color: var(--primary-active) !important;
}

.lrn .lrn-author-ui .lrn-btn-sec {
  background-color: #fff;
  color: var(--primary);
  font-family: 'Work Sans';
  position: relative;
}

.lrn .lrn-author-ui .lrn-btn-sec:hover {
  background-color: var(--secondary-hover)
}

.lrn .lrn-author-ui .lrn-btn-sec:focus {
  background-color: var(--secondary-focus);
  border: 1px solid #6200ee;
}

.lrn .lrn-author-ui .lrn-btn-sec:active {
  background-color: var(--secondary-active)
}

.lrn-author-activity-button {
  color: var(--primary) !important;
  background-color: var(--secondary) !important;
  font-family: 'Work Sans';
} 

.lrn-author-activity-button:focus {
  color: var(--primary) !important;
  background-color: var(--secondary-focus) !important;
  border: 1px solid #6200ee;
}

.lrn-author-activity-button:hover {
  color: var(--primary) !important;
  background-color: var(--secondary-hover) !important;
}

.lrn-author-activity-button:active {
  color: var(--primary) !important;
  background-color: var(--secondary-active) !important;
}
/* buttons end */

/* name/ref no edit end */
.lrn-author-name-edit input[aria-label^="Activity reference"] {
  font-family: 'Work Sans';
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  width: inherit;
}
/* name/ref no edit end */

/* checkbox */
.lrn-author-checkbox-container .lrn-author-checkbox-label {
  font-family: 'Work Sans' !important;
}

.lrn-author-checkbox:checked+.lrn-author-checkbox-label:after {
  background-color: var(--primary) !important;
  border: var(--primary) !important;
}

.lrn.lrn-author .lrn-item-for-activity-list .lrn-check-box-wrapper .lrn-check-box-input:checked+.lrn-i-tick {
  background-color: var(--primary) !important;
  border: var(--primary) !important;
}

/* save button(s) */
.lrn .lrn-author-ui .lrn-author-save-button-group.lrn-btn-save-dropdown-active .lrn-btn-save-dropdown {
  background-color: var(--primary);
  font-family: 'Work Sans';
}

.lrn.lrn-author .lrn-author-item-nav .lrn-btn {
  font-family: 'Work Sans';
  text-transform: capitalize;
}

.lrn .lrn-author-ui .lrn-author-save-button-group.lrn-btn-save-dropdown-active .lrn-btn-save-dropdown:not([disabled]):hover {
  background-color: var(--primary-hover);
}

.lrn .lrn-author-ui .lrn-author-save-button-group.lrn-btn-save-dropdown-active .lrn-btn-save-dropdown:not([disabled]):focus {
  background-color: var(--primary-focus);
}

/* nav */
.lrn.lrn-author .lrn-author-nav {
  margin-left: 8.33333%;
  text-align: left;
}

@media only screen and (max-width: 800px) {
  .lrn.lrn-author .lrn-author-nav {
    margin-left: 16.66666%;
  }
}

.lrn.lrn-author.lrn-md .lrn-author-tab-link .lrn-author-tab-header {
  font-family: 'Work Sans';
  font-weight: 600;
}

.lrn.lrn-author .lrn-author-nav.lrn-author-nav-tabs:focus, .lrn.lrn-author .lrn-author-nav.lrn-author-nav-tabs:hover, .lrn.lrn-author .lrn-author-nav li.active a {
  color: var(--primary);
}

.lrn.lrn-author .lrn-author-nav-tabs .lrn-active-tab-marker {
  background-color: var(--primary);
}

.lrn.lrn-author .lrn-author-nav-tabs .active .lrn-active-tab-marker {
  transform: scaleY(1.5)
}

/* nav end */

/* add/create buttons */
.lrn .lrn-author-ui .lrn-author-activity-button,
.lrn .lrn-author-ui .lrn-author-activity-button:hover {
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  height: 40px;
}

.lrn-i-search:before {
    content: '\E900';
}

.lrn-author-activity-button.lrn-btn-i-xs.lrn-btn-sec.lrn-col-xs-none.lrn-col-sm-none {
  border: 1px solid var(--outline);
  border-radius: 4px;
  box-sizing: border-box;
  height: 40px;
  text-align: left;
  width: 198px;
}

.lrn-author-activity-button.lrn-btn-i-xs.lrn-btn-sec.lrn-col-xs-none.lrn-col-sm-none .lrn-author-button-text {
  position: relative;
  visibility: hidden
}

.lrn-author-activity-button.lrn-btn-i-xs.lrn-btn-sec.lrn-col-xs-none.lrn-col-sm-none .lrn-author-button-text:after {
  content: 'Add from Item Bank';
  font-family: 'Work Sans';
  font-size: 14px;
  font-weight: 600;
  left: 15px;
  position: absolute;
  visibility: visible;
  white-space: nowrap;
}
/* add/create buttons end */

/* toggle */
.lrn .lrn-author-ui .lrn-author-toolbar-toggle .lrn-author-toggle-part {
  border-color: var(--outline);
  border-radius: 4px;
  font-family: 'Work Sans';
  font-size: 14px;
}

.lrn .lrn-author-ui .lrn-author-toolbar-toggle .lrn-author-toggle-right {
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.lrn .lrn-author-ui .lrn-author-toolbar-toggle .lrn-author-toggle-left {
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.lrn .lrn-author-ui .lrn-author-toolbar-toggle .lrn-author-input:checked~.lrn-author-toggle-left, .lrn .lrn-author-ui .lrn-author-toolbar-toggle .lrn-author-input:not(:checked)~.lrn-author-toggle-right, .lrn .lrn-author-ui .lrn-author-toolbar-toggle .lrn-author-toggle-active {
  background-color: rgba(var(--primary-r), var(--primary-g), var(--primary-b), .08);
  border-color: var(--primary);
  color: var(--primary) !important;
}

.lrn .lrn-author-ui .lrn-author-toolbar-toggle .lrn-author-input:checked~.lrn-author-toggle-left {
  border-right: 1px solid var(--primary);
}

.lrn .lrn-author-ui .lrn-author-toolbar-toggle .lrn-author-toggle-right {
  border-left: 1px solid var(--primary);
}
.lrn .lrn-author-ui .lrn-author-toolbar-toggle .lrn-author-input:checked~.lrn-author-toggle-right {
  border-left: 0;
}
/* toggle end */

/* intro/outro */

.lrn.lrn-author .lrn-author-intro-outro-toolbar .lrn-author-activity-intro-outro .lrn-author-activity-intro-outro-content .lrn-author-customize-reset {
  color: var(--primary);
}

.lrn-author-customize-labels {
  font-family: 'Work Sans';
  font-size: 14px;
  font-weight: 600;
  height: 40px;
  line-height: 1.5rem;
}
/* intro/outro end */

/* player tab */
.lrn-author-row-button.active label {
  color: var(--primary);
}

/* .lrn.lrn-author .lrn-author-intro-outro-toolbar .lrn-author-activity-intro-outro {
  background-color: transparent !important;
  border: none;
} */
